---
layout: default
permalink: /
id: "home"
---

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">
                <img src="{{ 'images/MTG_Toulouse_logo.png' | relative_url }}" alt="{{ site.title }}" /><br></div>
        </div>
    </div>
</header>

<section id="intro">
    <div class="container">
        {% capture my_include %}{% include markdown/intro.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>

<div style="background-color: {{ site.pageHeaders['statistics'].bg }}; color: {{ site.pageHeaders['statistics'].font }};">
    {% include statistics.html %}
</div>